body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select,option{
    margin: 0;
    padding:0;
    /*设置列表样式*/
    list-style:none;
}
body{
    background: #e9eaed;
    font-family: 微软雅黑;
    line-height: 1.5;
}
/*header设置*/
.header{
    width: 100%;
    height: 60px;
    background: black;
}
/*img{*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*}*/
.headerBox{
    width: 1200px;
    height: 100%;
    /*background: antiquewhite;*/
    margin: auto;
    line-height: 60px;

}
.headerBox > h1 > a{
    /*补充部分：width可以不写 margin-right可以添加*/
    /*width: 160px;*/
    height: 100%;
    /*background: aqua;*/
    float: left;
    margin-right: 75px;
    /*font-weight: normal;*/
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.headerBox .search{
    width: 32px;
    height: 34px;
    /*background: bisque;*/
    float: right;
    /*line-height: 60px;*/
    overflow: hidden;
    margin-right: 16px;
    margin-top: 10px;
}
.search img{
    width: 100%;
    height: 100%;
}
.headerBox .nav{
    /*padding: 20px;*/
    /*width: 730px;*/
    height: 100%;
    /*background: coral;*/
    float: left;
    text-align: center;
}
.nav li{
    /*display: inline;*/
    color: white;
    align:center;
    /*padding: 5px;*/
    /*补充部分(浮动（父类中的宽度可以不写730px、display可以不写）、右或左边框\上述内填充可以删去)*/
    float: left;
    margin-right: 36px;

}
.nav li a{
    color: white;
    text-decoration: none;
}
.nav a{
    font-family: 微软雅黑;
    font-size: 16px;
}
a:hover{
    color: #00c1de;
}
a{
    /*去掉下划线*/
    text-decoration: none;
}
/*header结束*/

.content{
    width: 1200px;
    height: auto;
    margin: 20px auto;
    background: #e9eaed;
    padding: 0 28px;
    border-radius: 5px;
}
.content .content_l{
    width: 844px;
    height: auto;
    background: white;
    padding: 0 28px;
    border-radius: 5px;
    float: left;
    /*overflow: hidden;*/
    margin-bottom: 140px;
}
.header1{
    height: 60px;
    /*background: blue;*/
    border-bottom: 1px solid #e4e3e3;
    font-size: 16px;
    line-height: 60px;
    position: relative;
    background: white;
}
.header1:hover::before{
    width: 90px;
}
.header1::before{
    content: '';
    width: 65px;
    height: 2px;
    position: absolute;
    left: 0;
    /*top: 0;*/
    bottom: 0;
    background: #000;
    transition: all .15s ease-in;
}
.content_l > .header1 .head_l{
    width: 120px;
    /*background: plum;*/
    float: left;
}
.head_r{
    float: right;
    width: 310px;
    display: inline-block;
}
.head_r > p{
    display: inline-block;
}
.head_r > a{
    display: inline-block;
}
.content_l > h1{
    font-size: 22px;
    margin-top: 20px;
    line-height: 1.5;
}
.content_l > .list{
    width: 100%;
    height: 34px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.content_l > .list  > img{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #00c1de;
    margin-right: 5px;
}
.content_l > .list > span{
    color: #999;
    line-height: 34px;
    margin-right: 5px;
}
.content_l > .p{
    padding: 10px;
    border: 1px;
    margin-top: 10px;
    background: #f6f6f6;
    color: #888888;
    border-bottom: 1px solid #f3f3f3;
    line-height: 34px;
}
.content_l > .pic_t{
    width: 100%;
    height: 300px;
    background: plum;
}
.content_l > .pic_t > img{
    width: 100%;
    height: 100%;
}

.content .content_r{
    width: 226px;
    height: auto;
    background: white;
    padding: 0 28px;
    border-radius: 5px;
    float: right;
}

.content_r .right_one{
    width: 100%;
    height: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.right_one .recommendImg , .recommendRight2 .recommendImg2{
    width: 240px;
    height: 110px;
    margin-top: 20px;
    background: black;
    border-radius: 5px;
    /*margin-left: 24px;*/
    position: relative;
}
.recommendImg img , .recommendImg2 img{
    width: 100%;
    height: 100%;
}
.recommendImg > p{
    color: white;
    position: absolute;
    top: 40px;
    left: 15px;
}
.right_one ul{
    margin-top: 32px;
    /*width: 100%;*/
    /*height: 36px;*/
}
.right_one li{
    width: 240px;
    height: 36px;
    background: #f6f6f6;
    margin-bottom: 12px;
    padding-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: relative;
    line-height: 36px;
    /*background: darkblue;*/

}
.right_one li::before{
    width: 16px;
    height: 16px;
    background: #b1b1b1;
    display: block;
    text-align: center;
    line-height: 16px;
    /*font-size: 14px;*/
    color: #fff;
    position: absolute;
    left: 2px;
    top: 9px;
    font-size: 12px;
}
.right_one li:first-child::before{
    background: #ff6600;
    content: '1';
}
.right_one li:nth-child(2)::before{
    background: #ff6600;
    content: '2';
}
.right_one li:nth-child(3)::before{
    background: #ff6600;
    content: '3';
}
.right_one li div::before{
    position: absolute;
    left: 5px;
    top: 0;
    font-size: 11px;
    color: white;
}
.right_one  li p{
    color: #000;
    font-size: 12px;
    /*不能换行*/
    white-space: nowrap;
    /*超出部分隐藏*/
    overflow: hidden;
    /*超出部分显示为省略号...*/
    text-overflow: ellipsis;
    margin-top: 10px;
    float: right;
    line-height: 15px;
    display: block;
    width: 220px;
    height: 100%;
}





/*内容——begin*/
.talk{
    /*width: 1140px;*/
    width: 100%;
    height: auto;
    /*padding: 30px 30px 80px 30px;*/
    margin: 20px auto ;
    background: white;
    /*position: relative;*/

}
.talk .top{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    /*background: yellow;*/
    position: relative;
}
.talk .top::before{
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    transition: all .15s ease-in;
}
.talk .top:hover::before{
    width: 80px;
}
.talk .top p{
    color: #484848;
    font-size: 16px;
    line-height: 40px;
}
.talk .relax{
    width: 100%;
    height: auto;
    padding: 20px 10px;
    margin: 10px 0;
    position: relative;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
}
.talk .relax > .photo{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.talk .relax > .photo > img{
    width: 100%;
    height: 100%;
}
.talk .relax > .look_web{
    float: left;

}
.relax > .look_web > p{
    color: #000;
    font-size:15px;
    line-height: 1.5;
    display: block;
    margin-bottom: 10px;
}
.relax > p{
    color: #999;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 18px;
}

/*内容——end*/


/*headerBottom_begin*/
.headerBottom{
    width: 100%;
    height: 190px;
    background: black;
    margin-top: 30px;
    overflow: hidden;
}
.headerBottom .bottomTop{
    width: 100%;
    height: 10px;
    background: #00c1de;
}
.headerBottom .bottomList{
    width: 100%;
    height: 100px;
    /*padding-top: 40px;*/
    margin-top: 40px;
    padding-bottom: 50px;
    /*background: gray;*/
}
.bottomList .bottom_ph1{
    width: 100px;
    height: 100px;
    margin-left: 180px;
    /*background: blanchedalmond;*/
    float: left;
}
.bottom_ph1 img , .bottom_ph2 img{
    width: 100%;
    height: 100%;
}
.bottomList .bottom_ph2{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    /*background: blanchedalmond;*/
    float: left;
}
.bottomList .bottom_text{
    width: 760px;
    height: 100px;
    /*background: fuchsia;*/
    float: left;
    margin-left: 20px;
}
.bottom_text p{
    line-height: 1.5;
    color: #695849;
}




.show{
    width: 226px;
    height: 20px;
    background: #e9eaed;
    float: right;
}
.content .content_r2 , .content .content_r3, .content .content_r4, .content .content_r5{
    width: 226px;
    height: auto;
    background: white;
    padding: 0 28px;
    border-radius: 5px;
    float: right;
}
/*.content .content_r5{*/
/*    margin-bottom: 30px;*/
/*}*/
.content .aaaaaa{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content .right_two , .content .right_four, .content .right_five{
    width:100% ;
    height: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    /*float: right;*/
    float: right;
}
.right_two .photo{
    margin-top: 22px;
    width: 100%;
    height: 120px;
    position: relative;
}
.right_two .photo img{
    width: 100%;
    height: 100%;
}
.right_two .photo p{
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 22px;
}
.right_two .bo{
    width: 100%;
    height: 90px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.bo img{
    width: 70px;
    height: 70px;
    float: left;
}
.bo p{
    /*float: right;*/
    margin-left: 10px;
    margin-top: 10px;
    line-height: 20px;
    /*max-height: 40px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*-webkit-box-orient: vertical;*/
    /*display: -webkit-box;*/
    -webkit-line-clamp: 2;
    font-size: 14px;
}
.content_r3 .pict{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 18px;
}
.content_r3 .pict img{
    width: 100%;
    height: 100%;
}



.right_four li:first-child{
    background: #036564;
}
.right_four li:nth-child(2){
    background: #EB6841;
}
.right_four li:nth-child(3){
    background: #3FB8AF;
}
.right_four li:nth-child(4){
    background: #FE4365;
}
.right_four li:nth-child(5){
    background: #FC9D9A;
}
.right_four li:nth-child(6){
    background: #EDC951;
}
.right_four li:nth-child(7){
    background: #C8C8A9;
}
.right_four li:nth-child(8){
    background: #83AF9B;
}
.right_four li:nth-child(9){
    background: #EB6841;
}
.right_four li:nth-child(10){
    background: #EB6841;
}
.right_four li:nth-child(11){
    background: #3FB8AF;
}
.right_four li:nth-child(12){
    background: #FE4365;
}
.right_four li:nth-child(13){
    background: #FC9D9A;
}
.right_four li:nth-child(14){
    background: #EDC951;
}
.right_four li:nth-child(15){
    background: #3299BB;
}

.right_four li {
    width: auto;
    height: auto;
    padding: 3px 10px ;
    margin-top: 10px;
    margin-right: 5px;
    background: blue;
    float: left;
    border-radius: 5px;
}
.right_four li p{
    font: 15px 微软雅黑 sans-serif;
    color: white ;
}
.right_five p{
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
    font-size: 15px;
    line-height: 22px;
}
.right_five p::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    left: 0;
    top: 10px;
}